.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.section-container {
    border: 1px solid black;
}

.header {
    color: white;
    text-align: center;
    background-color: #8E6E95;
}

.purple {
    background-color: #8E6E95;
}
.teel {
    background-color: #39A59C;
}
.darkblue {
    background-color: #344759;
}
.orange {
    background-color: #E8741E;
}

.footer {
    color: white;
    background-color: grey;
}
