.container {
    display: flex;
    flex-direction: row;
}

.section-container {
    border: 1px solid black;
    margin-left: 25px;
}

.header {
    color: white;
    text-align: center;
    background-color: #8E6E95;
}

.purple {
    background-color: #8E6E95;
}
.teel {
    background-color: #39A59C;
}
.darkblue {
    background-color: #344759;
}
.orange {
    background-color: #E8741E;
}
